.date-group[b-4y7gkwf43l] {
    text-align: center;
    display: table;
    margin-top: 0;
    width: 100%;
}

.default-watch[b-4y7gkwf43l] {
    margin-bottom: 0;
    font-weight: bold;
    font-size: medium
}

.watch-with-date[b-4y7gkwf43l] {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.date-field[b-4y7gkwf43l] {
    margin-top: -5px;
    margin-bottom: 0;
    font-size: small;
}

.clock-separator[b-4y7gkwf43l] {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.01);
}
