@using BlazorAppTest.Client.Models
@inject SystemWatch watch
@implements IAsyncDisposable

@switch (DateFormat)
{
    case DateFormat.None:
        <div class="date-group">
            <p style="margin-bottom: 0; font-weight: bold; font-size:medium">@systemWatch</p>
        </div>
        break;
    case DateFormat.WithLongDate:
    case DateFormat.WithShortDate:
        <div class="date-group">
            <p style="margin-bottom: 0; font-weight: bold;">@systemWatch</p>
            <p style="margin-top:0">@systemDate</p>
        </div>
        break;
    case DateFormat.Undefined:
    default:
            <h1>@systemWatch</h1>
        break;
}

 @switch (WatchFormat)
 {

 }
