@page "/"
@using BlazorAppTest.Client.Models

<PageTitle>Index</PageTitle>



<div class="element-container">
    <div class="title">Standard time</div>
    <SystemWatchComponent/>
</div>
<div class="element-container">
    <div class="title">Time with blinking</div>
    <SystemWatchComponent WatchFormat="WatchFormat.WithBlinking"/>
</div>
<div class="element-container">
    <div class="title">Time with seconds</div>
    <SystemWatchComponent WatchFormat="WatchFormat.WithSeconds"/>
</div>
<div class="element-container">
    <div class="title">Time with blinking and seconds</div>
    <SystemWatchComponent WatchFormat="WatchFormat.WithSecondsAndBlinking"/>
</div>
<div class="element-container">
    <div class="title">Standard dime with long date format</div>
    <SystemWatchComponent DateFormat="DateFormat.WithLongDate"/>
</div>
<div class="element-container">
    <div class="title">Standard dime with short date format</div>
    <SystemWatchComponent DateFormat="DateFormat.WithShortDate"/>
</div>