@page "/"
@using BlazorComponentDateTime.Client.Models

<PageTitle>Index</PageTitle>

<div class="element-container">
    <div class="title">Standard time</div>
    <SystemWatchComponent/>
</div>
<div class="element-container">
    <div class="title">Time with blinking</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking"/>
</div>
<div class="element-container">
    <div class="title">Time with seconds</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSeconds"/>
</div>
<div class="element-container">
    <div class="title">Time with blinking and seconds</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking"/>
</div>
<div class="element-container">
    <div class="title">Standard time with long date format</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithLongDate"/>
</div>
<div class="element-container">
    <div class="title">Standard time with short date format</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithShortDate"/>
</div>
<div class="element-container">
    <div class="title">Standard time with long date format with seconds</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithLongDate" ClockDisplay="WatchDisplayEnum.WithSeconds"/>
</div>
<div class="element-container">
    <div class="title">Standard time with short date format blinking</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithShortDate" ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking"/>
</div>